<div class="container-fluid">
    <nav class="navbar navPolitics p-4" style="background-color: #f7f4f0;">
        <b>
            <h2 class="navbar-brand" style="font-weight: 600; font-size: 25px; ">
                ABOUT US
            </h2>
    
        </b>
        <!-- <a class="navbar-brand active text-dark" style="font-size: 25px; font-weight: 500;" >POLITICS</a> -->
    </nav>

    <div class="row ">
        <h1>
            Board Directors
        </h1>
        <div class="col-sm-6 ">
            <div class="row d-flex justify-content-center">
                <img class="img-small" src="../../../../assets/images/Anil.jpg" alt="...">
                <div class="text-center">
                    <h2>
                        Mr. Anil Thapa
                    </h2>
                    <h5>
                        Chief Executive Officer
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-sm-6 ">
            <div class="row d-flex justify-content-center">
                <img class="img-small" src="../../../../assets/images/SagarDami.jpg" alt="...">
                <div class="text-center">
                    <h2>
                        Er. Sagar Dhami
                    </h2>
                    <h5>
                        Managing Director
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="row ">
        <div class="col-sm-3 ">
            <div class="row d-flex justify-content-center">
                <img class="img-small" src="../../../../assets/images/Balaram.jpg" alt="...">
                <div class="text-center">
                    <h2>
                        Mr. Balaram Kumar Singh
                    </h2>
                    <h5>
                        Chief Marketing Officer
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-sm-3 ">
            <div class="row d-flex justify-content-center">
                <img class="img-small" src="../../../../assets/images/sumanpathak.jpg" alt="...">
                <div class="text-center">
                    <h2>
                        Mr. Suman Pathak
                    </h2>
                    <h5>
                        Chief Analyst Officier
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-sm-3 ">
            <div class="row d-flex justify-content-center">
                <img class="img-small" src="../../../../assets/images/Sirup.jpg" alt="...">
                <div class="text-center">
                    <h2>
                        Mr. Sirup Karki
                    </h2>
                    <h5>
                        Graphic Designer
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-sm-3 ">
            <div class="row d-flex justify-content-center">
                <img class="img-small" src="../../../../assets/images/Suman.jpg" alt="...">
                <div class="text-center">
                    <h2>
                        Mr. Suman Bhandhari
                    </h2>
                    <h5>
                        Chief Human Resource Officier
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="row ">
        <h1>
            Web Developers
        </h1>
        <div class="col-sm-3 ">
            <div class="row d-flex justify-content-center">
                <img class="img-small" src="../../../../assets/images/amrit_n.jpg" alt="...">
                <div class="text-center">
                    <h2>
                        Mr. Amrit Devkota
                    </h2>
                    <h5>
                        MEAN Stack Developer
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-sm-3 ">
            <div class="row d-flex justify-content-center">
                <img class="img-small" src="../../../../assets/images/DSC_0529.JPG" alt="...">
                <div class="text-center">
                    <h2>
                        Mr. Sushil Dallakoti
                    </h2>
                    <h5>
                        MEAN Stack Developer
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-sm-3 ">
            <div class="row d-flex justify-content-center">
                <img class="img-small" src="../../../../assets/images/saragam.jpg" alt="...">
                <div class="text-center">
                    <h2>
                        Mr. Saragam Ghimire
                    </h2>
                    <h5>
                        Backend Specialist
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-sm-3 ">
            <div class="row d-flex justify-content-center">
                <img class="img-small" src="../../../../assets/images/dipesh.jpg" alt="...">
                <div class="text-center">
                    <h2>
                        Mr. Dipesh Manandhar
                    </h2>
                    <h5>
                        UI/UX and Graphic Designer
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <!-- news editor -->
    <div class="row ">
        <h1>
            News Editor
        </h1>
        <div class="col-sm-3 ">
            <div class="row d-flex justify-content-center">
                <img class="img-small" src="../../../../assets/images/Pravesh.jpg" alt="...">
                <div class="text-center">
                    <h2>
                        Mr. Pravesh Chaudhary
                    </h2>
                    <h5>
                        Chief News Editor
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-sm-3 ">
            <div class="row d-flex justify-content-center">
                <img class="img-small" src="../../../../assets/images/Anish.jpg" alt="...">
                <div class="text-center">
                    <h2>
                        Mr. Anish Poudel
                    </h2>
                    <h5>
                        Editor
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-sm-3 ">
            <div class="row d-flex justify-content-center">
                <img class="img-small" src="../../../../assets/images/Krishna.jpg" alt="...">
                <div class="text-center">
                    <h2>
                        Mr. Krishna Subedi
                    </h2>
                    <h5>
                        Editor
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-sm-3 ">
            <div class="row d-flex justify-content-center">
                <img class="img-small" src="../../../../assets/images/Ayush.jpg" alt="...">
                <div class="text-center">
                    <h2>
                        Mr. Ayush Badal
                    </h2>
                    <h5>
                        Editor
                    </h5>
                </div>
            </div>
        </div>

        <hr>

        <!-- content creator -->

        <div class="row ">
            <h1>
                Content Creator
            </h1>
            <div class="col-sm-3 ">
                <div class="row d-flex justify-content-center">
                    <img class="img-small" src="../../../../assets/images/sakar.jpg" alt="...">
                    <div class="text-center">
                        <h2>
                            Mr. Sakar Bhandhari
                        </h2>
                        <h5>
                            Creative Content Creator
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 ">
                <div class="row d-flex justify-content-center">
                    <img class="img-small" src="../../../../assets/images/rajesh.jpg" alt="...">
                    <div class="text-center">
                        <h2>
                            Mr. Rajesh Subedi
                        </h2>
                        <h5>
                            Artist
                        </h5>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 ">
                <div class="row d-flex justify-content-center">
                    <img class="img-small" src="../../../../assets/images/shreekrishna.jpg" alt="...">
                    <div class="text-center">
                        <h2>
                            Mr. Shree Krishna Shrestha
                        </h2>
                        <h5>
                            Artist
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 ">
                <div class="row d-flex justify-content-center">
                    <img class="img-small" src="../../../../assets/images/sumantamang.jpg" alt="...">
                    <div class="text-center">
                        <h2>
                            Mr. Suman Tamang
                        </h2>
                        <h5>
                            Artist
                        </h5>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>